@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    font-family:  "Ubuntu", sans-serif;
    background-color: rgb(71, 71, 182);
    color: white;
    text-align: center;
    margin: 70px;
}
#counterContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.116);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 1rem;
}
#days {
    padding: 15px;
    border-radius: 10px;
    font-size: 2rem;
}
#hours {
    padding: 15px;
    border-radius: 10px;
    font-size: 2rem;
}
#mins {
    padding: 15px;
    border-radius: 10px;
    font-size: 2rem;
}
#secs {
    padding: 15px;
    border-radius: 10px;
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
}
input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.116);
    color: white;
    outline: none;
}
::placeholder {
    color: white;
}
input:focus {
    border: 2px solid white;
}

/* make this page responsive on mobile screens */
@media (max-width: 600px) {
    #counterContainer {
        flex-direction: column;
        /* gap: 10px; */
    }
    p {
        font-size: 1.2rem;
    }
    input {
        font-size: 1rem;
    }
}